/* /////////RADIO BUTTON CUSTOM STYLES /////////////////////////// */

fieldset.radio-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    padding-top: 0.875em;
}

.radio-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5em;

    label {
        /* margin-block-end: 0.125em; */
        font-weight: 600;
    }
}



input[type="radio"] {
    display: flex;
    align-items: center;
    justify-content: center;
    appearance: none;  /* REMOOVING NATIVE RADIO INPUT */
    
    width: 1em;
    height: 1em;
    margin: 0;
    
    background-color: #dadada;
    border-width: 0em;
    border-color: #7d7d7d;
    border-radius: 50%;
    border-style: solid;
    transition: 120ms border-width ease-in-out;
}

input[type="radio"]:checked {
    border-width: 0.15em;
  }

input[type="radio"]::before {
    content: "";
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #7d7d7d;
  }

  input[type="radio"]:checked::before {
    transform: scale(1);
  }


