<!doctype html>
<html lang="en">
	<head>
		<!-- Character encoding -->
		<meta charset="UTF-8" />

		<!-- Viewport settings for responsive design -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- SEO meta tags -->
		<title>Sandbox</title>

		<!-- Google fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

		<!-- CSS  -->
		<link rel="stylesheet" href="../../public/css/styles.css" />
	</head>

	<body class="bg-background text-default">


		<header class="fixed w-full top-0 left-0 right-0">
			<nav class="section py-4 flex items-center justify-between">

				<!-- Logo -->
				<a href="/" class="bg-brand h-8 w-8 rounded-2xl transition-all ease-in-out hover:rounded-none hover:rotate-45 focus-visible:rounded-none focus-visible:rotate-45">
					<!-- <img src="/assets/logo/HatLogo02.svg" alt="Logo" class="w-32 h-auto"> -->
				</a>

				<!-- Navigation list -->
				<ul role="list" class="flex gap-6 items-start">

					<li><a href="/" class="label">Home</a></li>
					<li><a href="/blog/" class="label">Blog</a></li>
					<li><a href="/contact/" class="label">Contact</a></li>

				</ul>

			</nav>
		</header>


		<nav aria-label="Breadcrumb">
			<ol class="section py-4 mt-16">
			  <li><a href="/"  class="label">Home</a></li>
			  <!-- <li><a href="/section">Section</a></li>
			  <li aria-current="page">Current Page</li> -->
			</ol>
		</nav>


		<main class="grow">
			
			<h1 class="h1 section mb-18 mt-12">Company</h1>
			
			<section class="grid-12 section mb-36">
			
				<!-- Left column: Title, Paragraph, Buttons -->
				<div class="grid-8 md:col-span-8">
	
					<!-- Hero title & paragraphs-->
					<h2 class="h2 col-span-full mb-12">Mission statement</h2>
					<p class="col-span-6">
						I use this space to document my adventures in front-end development, sharing how I&#39;ve overcome issues I&#39;ve run into, useful resources, and more.
					</p>
					<p class="col-span-6 mb-10">
						Below are some of my favorite articles, or you can go to the blog page to see my most recent posts.
					</p>

					<!-- Hero buttons-->
					<div class="col-span-full flex gap-6 ">

						<a href="/#featured-articles" class="flex justify-center items-center px-6 py-3 rounded-xl whitespace-nowrap bg-background-knockout  text-knockout hover:bg-transparent hover:text-default focus-visible:bg-transparent focus-visible:text-default">Featured articles</a>

						<a href="./blog" class="flex justify-center items-center px-6 py-3 rounded-xl whitespace-nowrap border border-2 border-slate-800 ">Recent articles</a>

					</div>
				</div>
	
				<!-- Right column : Image -->
				<div class="md:col-start-9 md:col-span-4 bg-background-knockout rounded-3xl min-h-80">
					<!-- <img src="//unsplash.it/510" alt="unsplash" class="object-cover"> -->
				</div>
			
			</section>

		</main>


		<footer class=" section py-4 flex items-center gap-6">

			<!-- Logo -->
			<div class="bg-brand h-4 w-4 rounded-2xl"></div>
			<!-- <img src="/assets/logo/HatLogo02.svg" alt="Logo" class="w-32 h-auto"> -->

			<!-- Footer text -->
			<p class="m-0">©2025 hat company • all rights reserved</p>

		</footer>
	
	</body>
</html>
