<!doctype html>
<html lang="en">
	<head>
		<!-- Character encoding -->
		<meta charset="UTF-8" />

		<!-- Viewport settings for responsive design -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- SEO meta tags -->
		<title>Sandbox</title>

		<!-- Google fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

		<!-- CSS  -->
		<link rel="stylesheet" href="../../public/css/styles.css" />
	</head>

	<body class="bg-background text-default">


		<header class="fixed w-full top-0 left-0 right-0">
			<nav class="section my-0 py-4 flex items-center justify-between">

				<!-- Logo -->
				<a href="/" class="bg-brand h-8 w-8 rounded-2xl transition-all ease-in-out hover:rounded-none hover:rotate-45 focus-visible:rounded-none focus-visible:rotate-45">
					<!-- <img src="/assets/logo/HatLogo02.svg" alt="Logo" class="w-32 h-auto"> -->
				</a>

				<!-- Navigation list -->
				<ul role="list" class="flex gap-6 items-start">

					<li><a href="/" class="label">Home</a></li>
					<li><a href="/blog/" class="label">Blog</a></li>
					<li><a href="/contact/" class="label">Contact</a></li>

				</ul>

			</nav>
		</header>


		<nav aria-label="Breadcrumb">
			<ol class="section my-0 mt-16 py-4">
			  <li><a href="/"  class="label">Home</a></li>
			  <!-- <li><a href="/section">Section</a></li>
			  <li aria-current="page">Current Page</li> -->
			</ol>
		</nav>


		<main class="grow">
			
			<h1 class="h1 section mb-18 mt-12">h1 heading</h1>
			


			<!-- SECTION HERO -->
			<section class="grid-12 section mt-0">
			
				<!-- Left column: title, paragraph, buttons -->
				<div class="grid-8 md:col-span-8">
	
					<!-- Title & paragraphs -->
					<h2 class="h2 md:col-span-full mb-12">h2 heading</h2>
					<p class="md:col-span-6">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
					<p class="md:col-span-6 mb-10">
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</p>

					<!-- CTA buttons -->
					<div class="col-span-full flex flex-col md:flex-row gap-6 ">

						<a href="/#featured-articles" class="button button-prim">Primary action</a>

						<a href="./blog" class="button button-sec">Secondary action</a>

					</div>
				</div>
	
				<!-- Right column : media -->
				<div class="md:col-start-9 md:col-span-4 bg-[url(//unsplash.it/510)] bg-cover rounded-xl min-h-80">
				</div>
			
			</section>








			<!-- SECTION FEATURE -->
			<section class="grid-12 gap-y-0 section">
	
				<!-- Title & paragraphs-->
				<h2 class="h2 md:col-span-full text-center mb-12">h2 heading</h2>
				<p class="h1 md:col-span-10 md:col-start-2 text-center mb-18">Ut enim ad minim veniam, quis nostrud exercitation.</p>
				<p class="text-center mb-10 md:col-span-6 md:col-start-4">
					Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>

				<!-- CTA buttons-->
				<div class="col-span-full flex flex-col md:flex-row justify-center gap-6 ">

					<a href="/#featured-articles" class="button button-prim">Primary action</a>

					<a href="./blog" class="button button-sec">Secondary action</a>

				</div>
			
			</section>







			<!-- SECTION LISTING -->
			<section class="grid-12 section">
			
				<!-- Left column: Title, Paragraph, Buttons -->
				<div class="grid-8 md:col-span-8">
	
					<!-- Title & paragraphs -->
					<h2 class="h1 md:col-span-full mb-12">h2 heading</h2>
					<p class="md:col-span-6">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
				</div>

				<!-- Listing -->
				<ul class="col-span-full grid-12 gap-y-24 md:gap-y-24">

					<li class="card">
						<a href="#">
							<article>
								<figure class="bg-[url(//unsplash.it/511)]"></figure>
								<div class="group-content">
									<h3 class="h3 mb-3">h3 heading</h3>
									<p>Excepteur sint occaecat cupidatat non proident</p>
									<span class="button button-prim">Primary action</span>
								</div>
							</article>
						</a>
					</li>

					<li class="card">
						<a href="#">
							<article>
								<figure class="bg-[url(//unsplash.it/512)]"></figure>
								<div class="group-content">
									<h3 class="h3 mb-3">h3 heading</h3>
									<p>Excepteur sint occaecat cupidatat non proident</p>
									<span class="button button-prim">Primary action</span>
								</div>
							</article>
						</a>
					</li>

					<li class="card">
						<a href="#">
							<article>
								<figure class="bg-[url(//unsplash.it/513)]"></figure>
								<div class="group-content">
									<h3 class="h3 mb-3">h3 heading</h3>
									<p>Excepteur sint occaecat cupidatat non proident</p>
									<span class="button button-prim">Primary action</span>
								</div>
							</article>
						</a>
					</li>

					<li class="card">
						<a href="#">
							<article>
								<figure class="bg-[url(//unsplash.it/514)]"></figure>
								<div class="group-content">
									<h3 class="h3 mb-3">h3 heading</h3>
									<p>Excepteur sint occaecat cupidatat non proident</p>
									<span class="button button-prim">Primary action</span>
								</div>
							</article>
						</a>
					</li>

					<li class="card">
						<a href="#">
							<article>
								<figure class="bg-[url(//unsplash.it/515)]"></figure>
								<div class="group-content">
									<h3 class="h3 mb-3">h3 heading</h3>
									<p>Excepteur sint occaecat cupidatat non proident</p>
									<span class="button button-prim">Primary action</span>
								</div>
							</article>
						</a>
					</li>

					<li class="card">
						<a href="#">
							<article>
								<figure class="bg-[url(//unsplash.it/516)]"></figure>
								<div class="group-content">
									<h3 class="h3 mb-3">h3 heading</h3>
									<p>Excepteur sint occaecat cupidatat non proident</p>
									<span class="button button-prim">Primary action</span>
								</div>
							</article>
						</a>
					</li>
	
				</ul>
			
			</section>




			<!-- SECTION ABOUT -->
			<section class="grid-12 section mt-0">
			
				<!-- Left column: title, paragraph, buttons -->
				<div class="grid-6  md:col-span-4 md:col-start-2 md:pt-12">
	
					<!-- Title & paragraphs -->
					<h2 class="h2 col-span-full mb-12">h2 heading</h2>
					<p class="col-span-full">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					</p>
					<p class="col-span-full mb-10">
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					</p>

					<!-- CTA buttons -->
					<div class="col-span-full flex flex-col md:flex-row gap-6 ">

						<a href="/#featured-articles" class="button button-prim">Primary action</a>

						<a href="./blog" class="button button-sec">Secondary action</a>

					</div>
				</div>
	
				<!-- Right column : media -->
				<div class="row-span-2 md:col-span-6 md:col-start-7">
					<p class="h1">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
				</div>
			
			</section>




		</main>


		<footer class=" section my-0 py-4 flex items-center gap-6">

			<!-- Logo -->
			<div class="bg-brand h-4 w-4 rounded-2xl"></div>
			<!-- <img src="/assets/logo/HatLogo02.svg" alt="Logo" class="w-32 h-auto"> -->

			<!-- Footer text -->
			<p class="m-0">©2025 hat company • all rights reserved</p>

		</footer>
	
	</body>
</html>
