<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Character encoding -->
        <meta charset="UTF-8">

        <!-- Viewport settings for responsive design -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- SEO meta tags -->
        <title>Sandbox</title>

        <!-- CSS  -->
        <link rel="stylesheet" href="css/base.css">
        <link rel="stylesheet" href="css/radio-button.css">
        <!-- <link rel="stylesheet" href="css/input.css"> -->
    </head>

    <body>

        <header>Sandbox</header>
        
        <main>
            
            <h1>Radio button</h1>

            <section class="sand-box">


                <fieldset class="radio-group">
                    <legend class="legend">Select your preferred option</legend>
                    
                    <div class="radio-wrapper">
                      <input type="radio" id="option1" name="options" class="custom-radio" value="option1">
                      <label for="option1">Option 1</label>
                    </div>
                  
                    <div class="radio-wrapper">
                      <input type="radio" id="option2" name="options" class="custom-radio" value="option2">
                      <label for="option2">Option 2</label>
                    </div>
                  
                    <div class="radio-wrapper">
                      <input type="radio" id="option3" name="options" class="custom-radio" value="option3">
                      <label for="option3">Option 3</label>
                    </div>
                </fieldset>


            </section> 

        </main>

        <footer>RRR</footer>

        <!-- JavaScript  -->
        <!-- <script src="js/counter-input.js" defer></script> -->

    </body>

</html>

