/* //////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////

1   2   3   4   5   6   7   8   9   10  11  12  13
|   |   |   |   |   |   |   |   |   |   |   |   |
+---+---+---+---+---+---+---+---+---+---+---+---+
|                                               |
+---+---+---+---+---+---+---+---+---+---+---+---+

HAT AND THE GANG
PLANET MARS

LAST UPDATE  00/MARS/2025
V 00.00

//////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */

@import "tailwindcss";




/* //////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////
THEME
//////////////////////////////////////////////////////// */

@theme {
/* //////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////
1ST TEAR TOKENS
//////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////////
COLOR • 1ST
//////////////////////////////////////////////////////// */








/* ////////////////////////////////////////////////////////
SPACING • 1ST
//////////////////////////////////////////////////////// */
--spacer: calc(var(--f-size-base) / 4);
--spacer-2: calc(var(--spacer) * 2);
--spacer-3: calc(var(--spacer) * 3);
--spacer-4: calc(var(--spacer) * 4);
--spacer-5: calc(var(--spacer) * 5);
--spacer-6: calc(var(--spacer) * 6);
--spacer-7: calc(var(--spacer) * 7);
--spacer-8: calc(var(--spacer) * 8);
--spacer-9: calc(var(--spacer) * 9);
--spacer-10: calc(var(--spacer) * 10);
--spacer-11: calc(var(--spacer) * 11);
--spacer-12: calc(var(--spacer) * 12);






/* ////////////////////////////////////////////////////////
TYPOGRAPHY • 1ST
//////////////////////////////////////////////////////// */

    /* SCALE //////////////// */

    --f-scale: 1.618; /* golden ratio */

    --f-size-xsmall: calc(var(--f-size-base) * 0.75); /* 12px @ 800px vw */
    --f-size-small: calc(var(--f-size-base) * 0.875); /* 14px @ 800px vw */
    --f-size-base: max(1rem, calc(0.66vw + 0.44rem)); /* 16px @ 800px vw */
    --f-size-2: calc(var(--f-size-base) * var(--f-scale));
    --f-size-3: calc(var(--f-size-2) * var(--f-scale));
    --f-size-4: calc(var(--f-size-3) * var(--f-scale));
    --f-size-5: calc(var(--f-size-4) * var(--f-scale));
    --f-size-6: calc(var(--f-size-5) * var(--f-scale));
    --f-size-7: calc(var(--f-size-6) * var(--f-scale));
    --f-size-8: calc(var(--f-size-7) * var(--f-scale));
    --f-size-9: calc(var(--f-size-8) * var(--f-scale));



















/* //////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////
2ND TEAR TOKENS
//////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////////
COLOR • 2ND
//////////////////////////////////////////////////////// */
    
    /* BRAND //////////////// */
    --color-brand: var(--color-indigo-700);




    /* CONTENT //////////////// */
    --color-default: var(--color-slate-800);
    --color-heading: var(--color-default);
    --color-subtle: var(--color-slate-600);
    --color-knockout: var(--color-background);
    



    /* LINK //////////////// */
    --color-link: var(--color-default);
    --color-link-hover: var(--color-default);




    /* FORM //////////////// */
    --color-form: var(--color-default);
    --color-form-hover: var(--color-default);
    --color-field-form: var(--color-background);
    --color-field-form-hover: var(--color-background-subtle);




    /* BACKGROUND //////////////// */
    --color-background: var(--color-slate-300);
    --color-background-subtle: var(--color-slate-400);
    --color-background-knockout: var(--color-default);








/* ////////////////////////////////////////////////////////
SPACING • 2ND
//////////////////////////////////////////////////////// */

    /* LAYOUT //////////////// */
    --spacing-gutter: var(--spacer-8);





/* ////////////////////////////////////////////////////////
TYPOGRAPHY • 2ND
//////////////////////////////////////////////////////// */

    /* HEADING //////////////// */

    /* Family */
    --font-heading: "Inter", sans-serif;

    /* Type sizes */
    --text-h0: var(--f-size-9);
    --text-h1: var(--f-size-6);
    --text-h2: var(--f-size-5);
    --text-h3: var(--f-size-3);




    /* BODY //////////////// */

    /* Family */
    --font-body: "Inter", sans-serif;
    
    /* Type size */
    --text-body: var(--f-size-base);




    /* LABEL //////////////// */

    /* Family */
    --font-label: var(--font-body);

    /* Type size */
    --text-label: var(--f-size-xsmall);







    
}
















/* //////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////
BASE
//////////////////////////////////////////////////////// */

@layer base {
/* ////////////////////////////////////////////////////////
GLOBAL 
//////////////////////////////////////////////////////// */
    * {
        @apply box-border focus;
    }
    body {
        @apply flex flex-col min-h-screen paragraph;
    }

    p {
        @apply mb-6;
    }
   
}
















/* //////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////
UTILITIES
//////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////////
TYPOGRAPHY • UTILITY
//////////////////////////////////////////////////////// */

/* HEADINGS //////////////// */

@utility h0 {
    @apply font-heading text-h0 font-medium leading-none tracking-tighter text-heading;
}

@utility h1 {
    @apply font-heading text-h1 font-medium leading-none tracking-tighter text-heading;
}

@utility h2 {
    @apply font-heading text-h2 font-medium leading-none tracking-tight text-heading;
}

@utility h3 {
    @apply font-heading text-h3 font-medium leading-none tracking-tight text-heading;
}




/* BODY //////////////// */

@utility paragraph {
    @apply font-body text-body font-normal leading-normal tracking-normal text-default;
}




/* LABELS //////////////// */

@utility label {
    @apply font-label text-label font-medium leading-normal tracking-normal uppercase text-default;
}








/* ////////////////////////////////////////////////////////
LAYOUT • UTILITY
//////////////////////////////////////////////////////// */

/* SECTION //////////////// */

@utility section {
    @apply mx-4 my-32 md:mx-12 md:my-56;
}


/* GRIDS //////////////// */

@utility layout {
    @apply grid gap-x-gutter;
}

@utility grid-12 {
    @apply layout md:grid-cols-12;
}

@utility grid-10 {
    @apply layout md:grid-cols-10;
}

@utility grid-9 {
    @apply layout md:grid-cols-9;
}

@utility grid-8 {
    @apply layout md:grid-cols-8;
}

@utility grid-6 {
    @apply layout md:grid-cols-6;
}

@utility grid-4 {
    @apply layout md:grid-cols-4;
}

@utility grid-3 {
    @apply layout md:grid-cols-3;
}

@utility grid-2 {
    @apply layout md:grid-cols-2;
}








/* ////////////////////////////////////////////////////////
MISCELLANEOUS • UTILITY
//////////////////////////////////////////////////////// */

/* FOCUS //////////////// */

@utility focus {
    @apply focus-visible:outline-none rounded;
    &:focus-visible {
        box-shadow: 0 0 0 4px var(--color-default), 0 0 0 6px var(--color-subtle);
    }
}
















/* //////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////
COMPONENTS
//////////////////////////////////////////////////////// */

@layer components {
/* ////////////////////////////////////////////////////////
MOLECULES
//////////////////////////////////////////////////////// */

    /* CARD //////////////// */
    .card {
        @apply col-span-6;

        a {
           @apply block rounded-xl; 
        }

        figure {
            @apply bg-[url(//unsplash.it/510)] bg-cover rounded-xl;
            padding-block: 13vw;
        }

        .group-content {
            @apply pt-10;
        }

        span.button {
            @apply w-fit
        }
    }


    /* FORM //////////////// */

    /* .input-text {
        @apply flex flex-col gap-0.5 max-w-72 text-base font-normal text-label-form;

        input {
            @apply bg-field-form px-3 py-1 rounded-md font-normal hover:bg-field-form-hover transition;
        }
    } */




/* ////////////////////////////////////////////////////////
ATOMS
//////////////////////////////////////////////////////// */

    /* BUTTON //////////////// */

    .button {
        @apply flex justify-center items-center px-6 py-3 rounded-xl whitespace-nowrap
        flex justify-center items-center px-6 py-3 rounded-xl label whitespace-nowrap;
        
        &.button-prim {
            @apply bg-background-knockout  text-knockout hover:bg-transparent hover:text-default focus-visible:bg-transparent focus-visible:text-default;
        }
    
        &.button-sec {
            @apply border border-2 border-slate-800;
        }
    }



 
}








