@import "tailwindcss";

/* //////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////
THEME
//////////////////////////////////////////////////////// */

@theme {
    /* ////////////////////////////////////////////////////////
    TYPOGRAPHY
    //////////////////////////////////////////////////////// */

    /* HEADING //////////////// */

    /* Family */
    --font-heading: "Inter", sans-serif;

    /* Type system */
    --f-size-h0: 18rem;
    --f-size-h1: 6rem;
    --f-size-h2: 4.5rem;
    --f-size-h3: 2rem;




    /* BODY //////////////// */

    /* Family */
    --font-body: "Inter", sans-serif;
    
    /* Type system */
    --f-size-body: 16px;
    --f-size-xs: 0.75rem;




    /* LABEL //////////////// */

    /* Family */
    --font-label: var(--font-body);

    /* Type system */
    --f-size-label: var(--f-size-body);




    /* ////////////////////////////////////////////////////////
    COLOR
    //////////////////////////////////////////////////////// */
    
    /* GLOBAL //////////////// */

    /* Brand */
    --color-brand: var(--color-indigo-700);

    /* Content */
    --color-default: var(--color-slate-800);
    --color-heading: var(--color-default);
    --color-subtle: var(--color-default);
    --color-knockout: var(--color-background);
    
    /* Link */
    --color-link: var(--color-default);
    --color-link-hover: var(--color-default);

    /* Form */
    --color-form: var(--color-default);
    --color-form-hover: var(--color-default);
    --color-field-form: var(--color-background);
    --color-field-form-hover: var(--color-background-subtle);

    /* Background */
    --color-background: var(--color-slate-300);
    --color-background-subtle: var(--color-slate-400);
    --color-background-knockout: var(--color-default);


    /* FORM //////////////// */
}








/* //////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////
BASE
//////////////////////////////////////////////////////// */

@layer base {
    /* ////////////////////////////////////////////////////////
    GLOBAL 
    //////////////////////////////////////////////////////// */
    * {
        @apply box-border;
    }
    body {
        @apply flex flex-col min-h-screen body;
    }

    p {
        @apply mb-6;
    }
   
}








/* //////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////
UTILITIES
//////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////////
TEXT STYLES
//////////////////////////////////////////////////////// */

@utility h0 {
    @apply font-heading font-semibold leading-tight tracking-tight text-heading;
    font-size: var(--f-size-h0);
}

@utility h1 {
    @apply font-heading font-semibold leading-tight tracking-tight text-heading;
    font-size: var(--f-size-h1);
}

@utility h2 {
    @apply font-heading font-semibold leading-tight tracking-tight text-heading;
    font-size: var(--f-size-h2);
}

@utility h3 {
    @apply font-heading font-semibold leading-tight tracking-tight text-heading;
    font-size: var(--f-size-h3);
}

@utility body {
    @apply font-body font-medium leading-normal tracking-normal text-default;
    font-size: var(--f-size-body);
}

@utility body-xs {
    @apply font-body font-medium leading-normal tracking-normal text-default;
    font-size: var(--f-size-xs);
}

@utility label {
    @apply font-label font-semibold leading-normal tracking-normal text-default;
    font-size: var(--f-size-label);
}








/* //////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////
COMPONENTS
//////////////////////////////////////////////////////// */

/* @layer components { */
    /* //////////////////////////////////////////////////////// */
    /* MOLECULES  FORM */
    /* .input-text {
        @apply flex flex-col gap-0.5 max-w-72 text-base font-medium text-label-form;

        input {
            @apply bg-field-form px-3 py-1 rounded-md font-normal hover:bg-field-form-hover transition;
        }
    } */




 
/* } */








