/* //////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////

1   2   3   4   5   6   7   8   9   10  11  12  13
|   |   |   |   |   |   |   |   |   |   |   |   |
+---+---+---+---+---+---+---+---+---+---+---+---+
|                                               |
+---+---+---+---+---+---+---+---+---+---+---+---+

HAT AND THE GANG
PLANET MARS

LAST UPDATE  00/MARS/2025
V 00.00

//////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */

@import "tailwindcss";




/* //////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////
THEME
//////////////////////////////////////////////////////// */

@theme {
/* //////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////
1ST TEAR TOKENS
//////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////////
COLOR • 1ST
//////////////////////////////////////////////////////// */








/* ////////////////////////////////////////////////////////
SPACING • 1ST
//////////////////////////////////////////////////////// */







/* ////////////////////////////////////////////////////////
TYPOGRAPHY • 1ST
//////////////////////////////////////////////////////// */

    /* SCALE //////////////// */
    --f-scale: 1.618; /* golden ratio */
    --f-size-12: calc(var(--f-size-16) * 0.75);
    --f-size-14: calc(var(--f-size-16) * 0.875);
    --f-size-16: 1rem;
    --f-size-24: calc(var(--f-size-16) * var(--f-scale));
    --f-size-36: calc(var(--f-size-24) * var(--f-scale));
    --f-size-54: calc(var(--f-size-36) * var(--f-scale));
    --f-size-81: calc(var(--f-size-54) * var(--f-scale));
    --f-size-121: calc(var(--f-size-81) * var(--f-scale));
    --f-size-182: calc(var(--f-size-121) * var(--f-scale));
    --f-size-273: calc(var(--f-size-182) * var(--f-scale));
    --f-size-409: calc(var(--f-size-273) * var(--f-scale));




















/* //////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////
2ND TEAR TOKENS
//////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////////
COLOR • 2ND
//////////////////////////////////////////////////////// */
    
    /* BRAND //////////////// */
    --color-brand: var(--color-indigo-700);




    /* CONTENT //////////////// */
    --color-default: var(--color-slate-800);
    --color-heading: var(--color-default);
    --color-subtle: var(--color-slate-600);
    --color-knockout: var(--color-background);
    



    /* LINK //////////////// */
    --color-link: var(--color-default);
    --color-link-hover: var(--color-default);




    /* FORM //////////////// */
    --color-form: var(--color-default);
    --color-form-hover: var(--color-default);
    --color-field-form: var(--color-background);
    --color-field-form-hover: var(--color-background-subtle);




    /* BACKGROUND //////////////// */
    --color-background: var(--color-slate-300);
    --color-background-subtle: var(--color-slate-400);
    --color-background-knockout: var(--color-default);







    
/* ////////////////////////////////////////////////////////
TYPOGRAPHY • 2ND
//////////////////////////////////////////////////////// */

    /* HEADING //////////////// */

    /* Family */
    --font-heading: "Inter", sans-serif;

    /* Type sizes */
    --f-size-h0: var(--f-size-121);
    --f-size-h1: var(--f-size-121);
    --f-size-h2: var(--f-size-81);
    --f-size-h3: var(--f-size-36);




    /* BODY //////////////// */

    /* Family */
    --font-body: "Inter", sans-serif;
    
    /* Type size */
    --f-size-body: var(--f-size-16);




    /* LABEL //////////////// */

    /* Family */
    --font-label: var(--font-body);

    /* Type size */
    --f-size-label: var(--f-size-14);







    
}
















/* //////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////
BASE
//////////////////////////////////////////////////////// */

@layer base {
/* ////////////////////////////////////////////////////////
GLOBAL 
//////////////////////////////////////////////////////// */
    * {
        @apply box-border focus;
    }
    body {
        @apply flex flex-col min-h-screen paragraph;
    }

    p {
        @apply mb-6;
    }
   
}
















/* //////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////
UTILITIES
//////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////////
TYPOGRAPHY
//////////////////////////////////////////////////////// */

/* HEADINGS //////////////// */

@utility h0 {
    @apply font-heading font-normal leading-none tracking-tighter text-heading;
    font-size: var(--f-size-h0);
}

@utility h1 {
    @apply font-heading font-normal leading-none tracking-tighter text-heading;
    font-size: var(--f-size-h1);
}

@utility h2 {
    @apply font-heading font-normal leading-none tracking-tight text-heading;
    font-size: var(--f-size-h2);
}

@utility h3 {
    @apply font-heading font-normal leading-none tracking-tight text-heading;
    font-size: var(--f-size-h3);
}


/* BODY //////////////// */

@utility paragraph {
    @apply font-body font-normal leading-normal tracking-normal text-default;
    font-size: var(--f-size-body);
}

@utility paragraph-xs {
    @apply font-body font-normal leading-normal tracking-normal text-default;
    font-size: var(--f-size-xs);
}


/* LABELS //////////////// */

@utility label {
    @apply font-label font-semibold leading-normal tracking-normal uppercase text-default;
    font-size: var(--f-size-label);
}




/* ////////////////////////////////////////////////////////
LAYOUT
//////////////////////////////////////////////////////// */

/* SECTION //////////////// */

@utility section {
    @apply mx-4 my-32 md:mx-12 md:my-56;
}


/* GRIDS //////////////// */

@utility grid-12 {
    @apply grid gap-y-8 md:grid-cols-12 md:gap-x-8;
}

@utility grid-8 {
    @apply grid md:grid-cols-8 md:gap-x-8;
}

@utility grid-6 {
    @apply grid md:grid-cols-6 md:gap-x-8;
}




/* ////////////////////////////////////////////////////////
MISCELLANEOUS
//////////////////////////////////////////////////////// */

/* FOCUS //////////////// */

@utility focus {
    @apply focus-visible:outline-none rounded;
    &:focus-visible {
        box-shadow: 0 0 0 4px var(--color-default), 0 0 0 6px var(--color-subtle);
    }
}
















/* //////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////
COMPONENTS
//////////////////////////////////////////////////////// */

@layer components {
/* ////////////////////////////////////////////////////////
MOLECULES
//////////////////////////////////////////////////////// */

    /* CARD //////////////// */
    .card {
        @apply col-span-3;

        a {
           @apply block rounded-xl; 
        }

        figure {
            @apply py-24 bg-[url(//unsplash.it/510)] bg-cover rounded-xl;
        }

        .group-content {
            @apply pt-10;
        }

        span.button {
            @apply w-fit
        }
    }


    /* FORM //////////////// */

    /* .input-text {
        @apply flex flex-col gap-0.5 max-w-72 text-base font-normal text-label-form;

        input {
            @apply bg-field-form px-3 py-1 rounded-md font-normal hover:bg-field-form-hover transition;
        }
    } */




/* ////////////////////////////////////////////////////////
ATOMS
//////////////////////////////////////////////////////// */

    /* BUTTON //////////////// */

    .button {
        @apply flex justify-center items-center px-6 py-3 rounded-xl whitespace-nowrap
        flex justify-center items-center px-6 py-3 rounded-xl label whitespace-nowrap;
        
        &.button-prim {
            @apply bg-background-knockout  text-knockout hover:bg-transparent hover:text-default focus-visible:bg-transparent focus-visible:text-default;
        }
    
        &.button-sec {
            @apply border border-2 border-slate-800;
        }
    }



 
}








